#page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #233237;
}

#drum-machine {
  background-color: #984b43;
  display: flex;
  width: 400px;
  border-style: solid;
  border-width: medium;
  border-color: black;
  border-radius: 10px;
}

#panel {
  margin: 0px;
  margin-top: 0px;
  align-self: center;
  width: 150px;
  height: 170px;
  text-align: center;
}

#title {
  color: white;
  margin: 15px;
}

#display {
  margin: 20px;
  background-color: #d7cec7;
  width: 100px;
  height: 26px;
  text-align: center;
  align-content: center;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.keyboard {
  margin: 10px;
  text-align: center;
  width: 60%;
}

.drum-pad {
  margin: 5px;
  width: 50px;
  height: 50px;
  background-color: #eac67a;
  border-radius: 5px;
  box-shadow: 2px -2px #888888;
  font-weight: bold;
}

.drum-pad:focus {
  outline: none;
}

.drum-pad:active {
  background-color: #d9d9d9;
}

#topPanel {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  text-align: center;
}

#bottomPanel {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
}

#powerButton {
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  outline: none;
  display: inline-block;
}

@media (max-width: 550px) {
  #drum-machine {
    flex-direction: column-reverse;
    width: 250px;
  }
  #topPanel {
    justify-content: center;
  }
  #bottomPanel {
    margin-top: 0px;
  }
  #panel {
    height: 85px;
    margin: 10px;
  }
}
